// container  size
$xs: 320px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

// color

$base-color: #ffffff;
$first-main-color: #ffaf36;
$second-main-color: #1c1c1c;
$third-main-color: #585858;
$line: #dde4ea;

//fonts

$main-font: 'Open Sans', sans-serif;
$second-font: 'Raleway', sans-serif;;
$third-font: 'Lora', serif;